<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bigfrank.teleprompter" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Teleprompter Pro v8</name>
    <description>Aplicación de teleprompter estable con audio corregido.</description>
    <author email="desarrollo@ejemplo.com">Big Frank</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
</widget>
